body{
    /* background-color: rgba(41, 128, 185,1.0); */
}

#main_image {
    /* -webkit-filter: drop-shadow(5px 5px 15px #222); */
    /* filter: drop-shadow(2px 2px 0px rgba(26, 188, 156,1.0)) drop-shadow(-2px -2px 0px rgba(52, 152, 219,1.0)) drop-shadow(2px -2px 0px rgba(142, 68, 173,1.0)) drop-shadow(-2px 2px 0px rgba(230, 126, 34,1.0)) */
    /* filter: drop-shadow(1px 0px 0px rgb(220, 220, 220)) drop-shadow(0px 1px 0px rgb(220, 220, 220)) drop-shadow(0px -1px 0px rgb(220, 220, 220)) drop-shadow(-1px 0px 0px rgb(220, 220, 220)) */
  }
/* 
.card_list{
    border-radius: 0px 0px 5px 5px !important;
    border:none;
} */

.btn-main{
    border-radius: 0px 0px 0.25rem 0.25rem;
}

.parallelogram_green {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 150px;
    height: 1000px;
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(26, 188, 156,1.0);
    -webkit-transform:    skewX(-20deg);
    transform:    skewX(-20deg);

    position:absolute;
    top:-600px;
    margin-left: 120px;
    z-index: -1000;

    transition-property: margin-left;
    transition-duration: 10s;
    transition-timing-function: linear;
  }


  .parallelogram_blue {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 150px;
    height: 1000px;
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(52, 152, 219,1.0);
    -webkit-transform:    skewX(30deg);
    transform:    skewX(30deg);

    position:absolute;
    top:-600px;
    margin-left: -55px;
    z-index: -1000;

    transition-property: margin-left;
    transition-duration: 10s;
    transition-timing-function: linear;
  }

  .parallelogram_violet {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 150px;
    height: 1000px;
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(142, 68, 173,1.0);
    -webkit-transform:    skewX(-15deg);
    transform:    skewX(-15deg);

    position:absolute;
    top:-600px;
    margin-left: 100px;
    z-index: -1000;

   

    transition-property: margin-left;
    transition-duration: 10s;
    transition-timing-function: linear;
  }

  .parallelogram_orange {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 150px;
    height: 1000px;
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(230, 126, 34,1.0);
    -webkit-transform:    skewX(20deg);
    transform:    skewX(20deg);

    position:absolute;
    top:-600px;
    margin-left: -15px;
    z-index: -1000;

    transition-property: margin-left;
    transition-duration: 10s;
    transition-timing-function: linear;
  }

  div.hover_card:hover + div{
        opacity: 0.9;
        margin-left:50px;
  }

  .hover_pointer{
     cursor: pointer !important;
  }

  .card{
      cursor: pointer !important;
  }

  .tl-timenav{
      background-color:rgba(255,255,255,.1) !important;
  }

  .tl-timemarker-content-container{
      /* background-color: rgba(52, 152, 219,1.0) !important; */
      box-shadow: 1px 1px 1px rgba(52, 152, 219,0.0) !important;
      /* border-color:      rgba(52, 152, 219,1.0) !important; */
  }

  .tl-timeline{
      background-color: rgba(0,0,0,0) !important;
  }

  #rappel_bandes{
      height: 200px;
      width:100%;
      overflow: hidden;
      /* position: absolute; */
      top:300px;  
      /* margin-left: 250px; */
  }

  .card_proj{
      background-color: red;
  }

  #sponsor_div{
      background-color: #343A40;
      position: absolute;
    top:150px;
    left:0px;
    width: 6em;
  }

  .sponsor_img{

      -webkit-filter: grayscale(100%) invert(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%) invert(100%);
  }